In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df
import tkinter as tk
from tkinter import messagebox, ttk, filedialog
from datetime import datetime

In [6]:
csvfile= pd.read_csv("C:/Users/guica/Downloads/ICP RUN 01_12_2021.csv", header=2)
csvfile

,Label,Type,Date Time,Element,Element Label,Flags,Unadjusted Data,Concentration,Unit,Intensity,...,Replicates,Concentration Replicate 1,Concentration Replicate 2,Concentration Replicate 3,Intensity Replicate 1,Intensity Replicate 2,Intensity Replicate 3,Flags Replicate 1,Flags Replicate 2,Flags Replicate 3
0,Blank,BLK,15/01/2021 17:55:32,Ag 328.068,Ag,!,0.00,0.00,ppm,31.69,...,3,0.00,0.00,0.00,24.62,45.64,24.82,NaN,NaN,NaN
1,Blank,BLK,15/01/2021 17:55:32,Al 308.215,Al,!,0.00,0.00,ppm,33.30,...,3,0.00,0.00,0.00,40.06,34.21,25.62,NaN,NaN,NaN
2,Blank,BLK,15/01/2021 17:55:32,As 188.980,As,!,0.00,0.00,ppm,8.02,...,3,0.00,0.00,0.00,4.33,16.24,3.51,NaN,NaN,NaN
3,Blank,BLK,15/01/2021 17:55:32,As 193.696,As,!,0.00,0.00,ppm,6.76,...,3,0.00,0.00,0.00,5.91,8.22,6.16,NaN,NaN,NaN
4,Blank,BLK,15/01/2021 17:55:32,B 249.772,B,!,0.00,0.00,ppm,58.29,...,3,0.00,0.00,0.00,53.98,56.82,64.08,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,36633 BR,Sample,15/01/2021 20:22:38,Sn 189.925,Sn,u,0.01,0.08,ppm,13.34,...,3,-0.02,0.02,0.24,9.86,11.26,18.89,u,NaN,NaN
3776,36633 BR,Sample,15/01/2021 20:22:38,Ti 336.122,Ti,NaN,0.00,0.02,ppm,83.31,...,3,0.02,0.02,0.01,107.15,83.77,59.03,NaN,NaN,NaN
3777,36633 BR,Sample,15/01/2021 20:22:38,V 319.068,V,u,0.00,-0.01,ppm,23.76,...,3,-0.02,-0.03,0.02,20.22,11.51,39.54,u,u,NaN
3778,36633 BR,Sample,15/01/2021 20:22:38,Zn 213.857,Zn,NaN,0.00,0.01,ppm,70.89,...,3,0.02,0.01,0.01,78.30,68.56,65.80,NaN,NaN,NaN
3779,36633 BR,Sample,15/01/2021 20:22:38,Zn 472.215,Zn,u,-0.02,-0.12,ppm,55.19,...,3,-0.39,0.21,-0.18,27.70,89.03,48.84,u,NaN,u

In [ ]:

def l_samples():
  global list_samples

  list_samples= csvfile

  if (noblank==1):
    list_samples= list_samples[list_samples['Type']!='BLK']
  if (nostd==1):
    list_samples= list_samples[list_samples['Type']!='STD']
  if (noHNO3==1):
    list_samples=list_samples[~list_samples['Label'].str.contains('HNO', regex=False)]

  list_samples=list_samples.reset_index(drop=True)
  print(list_samples)

  T.insert(tk.END,current_t() +" - Samples have been read successfully!\n")

def l_elements():
  global list_elements
  list_elements=[]

  for n in range(0,len(list_samples.index),1):  
    if (list_samples.iloc[n,3] not in list_elements):
      list_elements.append(list_samples.iloc[n,3])

  list_elements=pd.DataFrame(list_elements, columns=["Elements"])
  T.insert(tk.END,current_t() +" - Elements have been read successfully!\n")

def l_names ():
  global list_names
  global list_date
  list_date=[]
  list_names=[]
  for n in range(0,len(list_samples),1):
    if (list_samples.iloc[n,2] not in list_date):
      list_date.append(list_samples.iloc[n,2])
      list_names.append(list_samples.iloc[n,0])
  list_names=pd.DataFrame(list_names, columns=['Label']).reset_index(drop=True)
  list_date=pd.DataFrame(list_date, columns=['Date Time']).reset_index(drop=True)
  print(list_names)

In [3]:
d = {'a':[1,3,4,5,65]}
if "a" in d:
  d["a"].append(1)

print(d)


def sample_name_filter():

  global erase

  select_dup1 = []
  erase = ['A', 'B', 'C', 'a', 'b', 'c', 'R', 'r']
  select_samples1 = list(dict.fromkeys(select_samples['Label']))

  for i in select_samples1:
    s01 = i
    for x in erase:
      s01 = s01.replace(x, '')
      s01 = s01.strip()
      print(s01)
    select_dup1.append(s01)

  select_dup = list(dict.fromkeys(select_dup1))

  n_keys = dict.fromkeys()

  print(select_dup)

  return select_dup

sample_name_filter()

{'a': [1, 3, 4, 5, 65, 1]}

NameError: name 'select_samples' is not defined