In [25]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df
import tkinter as tk
from tkinter import messagebox, ttk, filedialog
from datetime import datetime
from collections import defaultdict

In [26]:
csvfile= pd.read_csv("C:/Users/guica/Downloads/ICP RUN 01_12_2021.csv", header=2)
csvfile

,Label,Type,Date Time,Element,Element Label,Flags,Unadjusted Data,Concentration,Unit,Intensity,...,Replicates,Concentration Replicate 1,Concentration Replicate 2,Concentration Replicate 3,Intensity Replicate 1,Intensity Replicate 2,Intensity Replicate 3,Flags Replicate 1,Flags Replicate 2,Flags Replicate 3
0,Blank,BLK,15/01/2021 17:55:32,Ag 328.068,Ag,!,0.00,0.00,ppm,31.69,...,3,0.00,0.00,0.00,24.62,45.64,24.82,NaN,NaN,NaN
1,Blank,BLK,15/01/2021 17:55:32,Al 308.215,Al,!,0.00,0.00,ppm,33.30,...,3,0.00,0.00,0.00,40.06,34.21,25.62,NaN,NaN,NaN
2,Blank,BLK,15/01/2021 17:55:32,As 188.980,As,!,0.00,0.00,ppm,8.02,...,3,0.00,0.00,0.00,4.33,16.24,3.51,NaN,NaN,NaN
3,Blank,BLK,15/01/2021 17:55:32,As 193.696,As,!,0.00,0.00,ppm,6.76,...,3,0.00,0.00,0.00,5.91,8.22,6.16,NaN,NaN,NaN
4,Blank,BLK,15/01/2021 17:55:32,B 249.772,B,!,0.00,0.00,ppm,58.29,...,3,0.00,0.00,0.00,53.98,56.82,64.08,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,36633 BR,Sample,15/01/2021 20:22:38,Sn 189.925,Sn,u,0.01,0.08,ppm,13.34,...,3,-0.02,0.02,0.24,9.86,11.26,18.89,u,NaN,NaN
3776,36633 BR,Sample,15/01/2021 20:22:38,Ti 336.122,Ti,NaN,0.00,0.02,ppm,83.31,...,3,0.02,0.02,0.01,107.15,83.77,59.03,NaN,NaN,NaN
3777,36633 BR,Sample,15/01/2021 20:22:38,V 319.068,V,u,0.00,-0.01,ppm,23.76,...,3,-0.02,-0.03,0.02,20.22,11.51,39.54,u,u,NaN
3778,36633 BR,Sample,15/01/2021 20:22:38,Zn 213.857,Zn,NaN,0.00,0.01,ppm,70.89,...,3,0.02,0.01,0.01,78.30,68.56,65.80,NaN,NaN,NaN
3779,36633 BR,Sample,15/01/2021 20:22:38,Zn 472.215,Zn,u,-0.02,-0.12,ppm,55.19,...,3,-0.39,0.21,-0.18,27.70,89.03,48.84,u,NaN,u

In [27]:

def l_samples():
 
  global list_samples
  noblank=1
  nostd=1
  noHNO3=1

  list_samples= csvfile

  if (noblank==1):
    list_samples= list_samples[list_samples['Type']!='BLK']
  if (nostd==1):
    list_samples= list_samples[list_samples['Type']!='STD']
  if (noHNO3==1):
    list_samples=list_samples[~list_samples['Label'].str.contains('HNO', regex=False)]

  list_samples=list_samples.reset_index(drop=True)
  print(list_samples)

def l_elements():
  global list_elements
  list_elements=[]

  for n in range(0,len(list_samples.index),1):  
    if (list_samples.iloc[n,3] not in list_elements):
      list_elements.append(list_samples.iloc[n,3])

  list_elements=pd.DataFrame(list_elements, columns=["Elements"])


def l_names ():
  global list_names
  global list_date
  list_date=[]
  list_names=[]
  for n in range(0,len(list_samples),1):
    if (list_samples.iloc[n,2] not in list_date):
      list_date.append(list_samples.iloc[n,2])
      list_names.append(list_samples.iloc[n,0])
  list_names=pd.DataFrame(list_names, columns=['Label']).reset_index(drop=True)
  list_date=pd.DataFrame(list_date, columns=['Date Time']).reset_index(drop=True)
  print(list_names)

l_samples()
l_elements()

l_names()

         Label    Type            Date Time     Element Element Label Flags  \
0      36616 A  Sample  15/01/2021 18:16:20  Ag 328.068            Ag   NaN
1      36616 A  Sample  15/01/2021 18:16:20  Al 308.215            Al   NaN
2      36616 A  Sample  15/01/2021 18:16:20  As 188.980            As   NaN
3      36616 A  Sample  15/01/2021 18:16:20  As 193.696            As   NaN
4      36616 A  Sample  15/01/2021 18:16:20   B 249.772             B   NaN
...        ...     ...                  ...         ...           ...   ...
2599  36633 BR  Sample  15/01/2021 20:22:38  Sn 189.925            Sn     u
2600  36633 BR  Sample  15/01/2021 20:22:38  Ti 336.122            Ti   NaN
2601  36633 BR  Sample  15/01/2021 20:22:38   V 319.068             V     u
2602  36633 BR  Sample  15/01/2021 20:22:38  Zn 213.857            Zn   NaN
2603  36633 BR  Sample  15/01/2021 20:22:38  Zn 472.215            Zn     u

     Unadjusted Data Concentration Unit  Intensity  ... Replicates  \
0               0.00          0.28  ppm      52.38  ...          3
1               2.51        336.11  ppm    2861.24  ...          3
2               0.02          3.05  ppm      17.01  ...          3
3               0.06          8.20  ppm      28.95  ...          3
4               0.02          2.14  ppm     197.44  ...          3
...              ...           ...  ...        ...  ...        ...
2599            0.01          0.08  ppm      13.34  ...          3
2600            0.00          0.02  ppm      83.31  ...          3
2601            0.00         -0.01  ppm      23.76  ...          3
2602            0.00          0.01  ppm      70.89  ...          3
2603           -0.02         -0.12  ppm      55.19  ...          3

     Concentration Replicate 1  Concentration Replicate 2  \
0                         0.26                       0.54
1                       331.72                     337.85
2                         1.81                       5.62
3                         6.38                      13.64
4                         2.08                       2.22
...                        ...                        ...
2599                     -0.02                       0.02
2600                      0.02                       0.02
2601                     -0.02                      -0.03
2602                      0.02                       0.01
2603                     -0.39                       0.21

     Concentration Replicate 3 Intensity Replicate 1 Intensity Replicate 2  \
0                         0.03                 50.96                 72.30
1                       338.75               2824.30               2875.93
2                         1.74                 13.35                 24.54
3                         4.59                 24.01                 43.71
4                         2.11                193.69                203.07
...                        ...                   ...                   ...
2599                      0.24                  9.86                 11.26
2600                      0.01                107.15                 83.77
2601                      0.02                 20.22                 11.51
2602                      0.01                 78.30                 68.56
2603                     -0.18                 27.70                 89.03

     Intensity Replicate 3 Flags Replicate 1  Flags Replicate 2  \
0                    33.90               NaN                NaN
1                  2883.50               NaN                NaN
2                    13.14               NaN                NaN
3                    19.13               NaN                NaN
4                   195.57               NaN                NaN
...                    ...               ...                ...
2599                 18.89                 u                NaN
2600                 59.03               NaN                NaN
2601                 39.54                 u                  u
2602                 65.80               NaN                NaN
2603                 48.84                 u                NaN

      Flags Replicate 3
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
2599                NaN
2600                NaN
2601                NaN
2602                NaN
2603                  u

[2604 rows x 34 columns]
       Label
0    36616 A
1    36616 B
2    36617 A
3    36617 B
4    36618 A
..       ...
57  36631 BR
58  36632 AR
59  36632 BR
60  36633 AR
61  36633 BR

[62 rows x 1 columns]

In [28]:
def calculate ():
  global select_date,select_elements,select_samples
  select_samples = ['36621'] 
  select_date = list_date
  select_elements = list_elements

In [29]:
def sample_name_filter():

  global erase

  select_dup1 = []
  
  select_samples1 =list(dict.fromkeys(list_samples['Label']))

  erase = []

  for i in select_samples1:
    s01 = i
    i01=i.split(' ',1)
    try:
      i02=i01[1:]
      for x in i02:
        if x not in erase:
          erase.append(x)
    except:
      pass

  print(erase)

  print('\n\n\n\n ')
  keys= dict.fromkeys(erase)
  keys["a"]=([1])

  print(keys)

  teste=[]

  for i in select_samples1:
    s01 = i
    for x in erase:
      s01 = s01.replace(x, '')
      s01 = s01.strip()

    select_dup1.append(s01)

  select_dup = list(dict.fromkeys(select_dup1))

  print(select_dup)
  print(teste)


  return select_dup

sample_name_filter()

[]





{'a': [1]}
['36621']
[]

['36621']

In [30]:
def filter():
  global text
  calculate()

  op_v=3
  
  sl=[]
  csv_final=pd.DataFrame(sl, columns=list_samples.columns)

  for x in select_date['Date Time']:
    for y in select_elements["Elements"]:
      select1=list_samples[list_samples['Date Time']==x]
      select2=select1[select1["Element"]==y]
      csv_final=csv_final.append(select2)
    csv_final=csv_final.append(pd.Series(), ignore_index=True)


  if op_v==2:

   
    csv_final.to_csv('./ICP_Full_Report.csv', index = False)
    T.insert(tk.END,current_t() +" - Full Report has been created !\n")

  elif op_v==3:
    csv_final= csv_final.dropna(how='all')
    select_dup=sample_name_filter()

    list_average=[]
    list_standard=[]
    l01=[]
    l02=[]

    keys= dict.fromkeys(erase)
 

    for x in select_dup:
      for y in select_elements['Elements']:
        slc1=csv_final[csv_final['Label'].str.contains(x, regex=False)]
        slc2=slc1[slc1['Element']==y]
        slc_avr= pd.to_numeric(slc2['Concentration'], errors='coerce').mean()
        list_average.append(slc_avr)
        slc_std= pd.to_numeric(slc2['Concentration'], errors='coerce').std()
        list_standard.append(slc_std)
        
        for q in keys.keys():
            slc3=slc2[slc2['Label'].str.contains(q, regex=False)]
            re_avr=pd.to_numeric(slc3['Concentration'], errors='coerce').mean()
            if keys[q]==None:
                keys[q]=([re_avr])
            else:
                keys[q].append(re_avr)

        

        l01.append(x)
        l02.append(y)
      l01.append('')
      l02.append('')
      list_average.append('')
      list_standard.append('')
      for z in keys.keys():
        keys[z].append('')
    
    data={'Label':l01,'Element': l02 , 'Average': list_average, 'STD': list_standard}
    f_data= dict(data)
    f_data.update(keys)
    f_rep= pd.DataFrame.from_dict(f_data)

    print(f_rep.iloc[:,4:])


    # f_rep.to_csv('./ICP_Calculated_Report.csv', index = False)
    # T.insert(tk.END,current_t() +" - Full Calculated Report has been created !\n")

  elif op_v==1:
    csv_final=csv_final[["Label","Element","Concentration"]]

    print(csv_final)
    csv_final.to_csv('./ICP_Report.csv', index = False)
    T.insert(tk.END,current_t() +" - Report has been created!\n")

filter()

[]





{'a': [1]}
['36621']
[]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]